.Navbar-color{
    background-color: rgb(189, 189, 189);    
    width: 100%;
    margin: 0%;
    margin-left: 12%;
    padding: 0%;
    
}
.navBar{
    background-color: rgb(189, 189, 189);    
    margin: 0%;
    padding: 0%;
    width: 100%;
    
}